@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  height: 100%;
  width: 100%;
}
#app {
  height: 100%;
}


.header-actions {
  background-color: #ddd;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 45px;
  }
  &__link {
    color: #7a80ff;
    font-weight: 600;
    text-decoration: underline;
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  &__title {
    font-weight: 600;
    @apply text-gray-800;
  }
}

.header-menu {
  @apply flex items-center gap-x-2;
  &__link {
    @apply text-white p-1;
  }
}

.simple-table {
  width: 100%;
  thead {
    @apply bg-gray-200
  }
  td {
    @apply p-2 border border-gray-300;
  }
  th {
    @apply p-2 border border-gray-300 text-gray-800;
  }
  tbody tr {
    @apply transition-colors duration-300 hover:bg-gray-100;
  }
}

.director-form {
  select {
    @apply border border-gray-300 rounded px-2 py-0.5 bg-white;
  }
  input {
    @apply border border-gray-300 rounded px-2 py-0.5;
  }
  &__button {
    @apply text-gray-400 duration-200 transition-colors p-1;
    &:hover {
      @apply text-gray-700;
    }
  }
}

@layer utilities {
  .header {
    &-top {
      @apply p-3 bg-cyan-800;
      .container {
        @apply flex items-center justify-between;
      }
    }

    &__logo {
      @apply text-2xl text-white;
    }
  }


  .header-user {
    @apply relative;
    &__name {
      @apply text-white flex gap-x-2 items-center cursor-pointer p-1;
      svg {
        font-size: 12px;
        transition: .3s transform;
      }
    }

    &__list {
      @apply absolute right-0;
      top: 100%;
      padding-top: 25px;
      visibility: hidden;
      opacity: 0;
      transition: {
        duration: .3s;
        property: visibility, opacity, padding-top;
      };

      ul {
        @apply bg-white shadow rounded-md;
      }

      a {
        @apply block py-1 px-2 transition-colors duration-300 hover:bg-gray-200;
        width: 200px;

        &:last-child {
          @apply rounded-md;
        }
      }
    }
    &.active &__list {
      padding-top: 5px;
      visibility: visible;
      opacity: 1;
    }
    &.active svg {
      transform: rotate(180deg);
    }
  }

  .page-wrapper {
    @apply flex flex-col h-full;
  }

  .page-content {
    @apply h-full;
  }

  .form {
    .form-input:not(:last-child) {
      @apply mb-2;
    }
  }

  .form-input {
    @apply block flex-1;
    &__label {
      @apply block mb-0.5 text-gray-400 text-sm;
    }

    input,
    select {
      @apply block rounded border
        border-gray-400 focus:border-gray-600 hover:border-gray-500
        transition-colors duration-200
        outline-none
        py-1 px-2 w-full bg-white;
      height: 35px;
      font: inherit;
    }

    &--error &__label {
      @apply text-red-500;
    }

    &--error input,
    &--error select {
      @apply border-red-500;
    }

    &__error {
      @apply text-red-500 text-sm;
    }
    &--required &__label {
      &:after {
        content: ' *';
        @apply text-red-500;
      }
    }
  }

  .btn {
    @apply
      border
      bg-cyan-700 border-cyan-700
      hover:bg-cyan-800 hover:border-cyan-800
      block px-2 py-1.5 w-full rounded-md text-white transition-colors duration-200;
    &.btn--small {
      @apply text-sm;
    }
    &.btn--outline {
      @apply bg-transparent border-gray-400 text-gray-700 hover:bg-gray-100;
    }
  }
}
